Repository in-in/helium: changes, and which lefthook commands are due for each by the changed paths.
All: css, js

css:
  run: prettier --write {staged_files} && stylelint --fix {staged_files} && git add {staged_files}

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && git add {staged_files}

refactor(gatsby-config): delete unnecessary sass options
  gatsby-config.js
Due: js

fix(stylelint): add workaround to new sass module syntax
  .stylelintrc.js
Due: js

refactor(sass): embrace new sass module system
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/blog/styles.module.scss
  src/components/button/styles.module.scss
  src/components/carousel/styles.module.scss
  src/components/container/styles.module.scss
  src/components/customers/styles.module.scss
  src/components/device/styles.module.scss
  src/components/features/styles.module.scss
  src/components/header/styles.module.scss
  src/components/heading/styles.module.scss
  src/components/hero/styles.module.scss
  src/components/logo/styles.module.scss
  src/components/social/styles.module.scss
  src/components/software/styles.module.scss
  src/components/stats/styles.module.scss
  src/components/text/styles.module.scss
  src/styles/fonts.scss
  src/styles/functions.scss
  src/styles/mixins.scss
  src/styles/theme.scss
Due: css

build(stylelint): update stylelint config
  .stylelintrc.js
Due: js

refactor(helpers): add a check for the context argument
  src/styles/functions.scss
Due: css

refactor(t2c): update the function arguments
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/blog/styles.module.scss
  src/components/button/styles.module.scss
  src/components/carousel/styles.module.scss
  src/components/container/styles.module.scss
  src/components/customers/styles.module.scss
  src/components/device/styles.module.scss
  src/components/features/styles.module.scss
  src/components/header/styles.module.scss
  src/components/heading/styles.module.scss
  src/components/hero/styles.module.scss
  src/components/logo/styles.module.scss
  src/components/social/styles.module.scss
  src/components/software/styles.module.scss
  src/components/stats/styles.module.scss
  src/components/text/styles.module.scss
  src/styles/mixins.scss
Due: css

refactor(sass): move the helpers and index files to the global context
  gatsby-browser.js
  gatsby-config.js
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/blog/styles.module.scss
  src/components/button/styles.module.scss
  src/components/carousel/styles.module.scss
  src/components/container/styles.module.scss
  src/components/customers/styles.module.scss
  src/components/device/styles.module.scss
  src/components/features/styles.module.scss
  src/components/header/styles.module.scss
  src/components/heading/styles.module.scss
  src/components/hero/styles.module.scss
  src/components/layout/index.jsx
  src/components/logo/styles.module.scss
  src/components/social/styles.module.scss
  src/components/software/styles.module.scss
  src/components/stats/styles.module.scss
  src/components/text/styles.module.scss
  src/styles/helpers.scss
  src/styles/index.scss
  src/styles/mixins.scss
Due: css, js

refactor(sass): update colors palette according to the new module system
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/blog/styles.module.scss
  src/components/features/styles.module.scss
  src/components/hero/styles.module.scss
  src/components/software/styles.module.scss
  src/styles/vars.scss
Due: css

refactor(fonts): move all font variants to variables
  src/components/article-preview/styles.module.scss
  src/components/button/styles.module.scss
  src/components/heading/styles.module.scss
  src/components/stats/styles.module.scss
  src/styles/theme.scss
  src/styles/vars.scss
Due: css

refactor(clouds): move cloud data to a separate file
  src/components/about/data.scss
  src/components/about/styles.module.scss
  src/components/hero/data.scss
  src/components/hero/styles.module.scss
Due: css

build(stylelint): update config
  .stylelintrc.js
Due: js

refactor(article-preview): remove unnecessary size restrictions
  src/components/article-preview/styles.module.scss
Due: css

build(packages): update packages
  package-lock.json
  package.json
Due: none

refactor(article-preview): delete extra gradient variables, update colors
  src/components/article-preview/styles.module.scss
Due: css

build(packages): move postcss plugins to devDependencies
  package-lock.json
  package.json
Due: none

refactor(styles): split config and helpers into different files
  gatsby-config.js
  src/styles/config.scss
  src/styles/helpers.scss
  src/styles/index.scss
Due: css, js

refactor(reset): update css reset
  src/styles/reset.scss
Due: css

refactor(stylelint): disable 'media-prefers-reduced-motion' rule
  .stylelintrc.js
  src/styles/mixins.scss
Due: css, js

refactor(heading): increase font size on mobile
  src/components/heading/styles.module.scss
Due: css

fix(article-preview): fix the suffix in images file name
  src/data/articles.json
Due: none

build(https): remove node env variable
  package.json
Due: none

build(stylelint): delete prettier related stuff and update config
  .stylelintrc.js
  package-lock.json
  package.json
Due: js

fix(stylelint): remove broken rule
  .stylelintrc.js
Due: js

build(stylelint): remove a11y config and update a11y rules
  .stylelintrc.js
Due: js

feat(focus): add global :focus styles
  src/components/carousel/styles.module.scss
  src/components/social/styles.module.scss
  src/styles/mixins.scss
  src/styles/theme.scss
Due: css

style(stylelint): globally update formatting
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/button/styles.module.scss
  src/components/device/styles.module.scss
  src/components/features/styles.module.scss
  src/styles/functions.scss
Due: css

build(stylelint): add new property
  .stylelintrc.js
Due: js

chore(lefthook): remove prettier from the pre-commit for style files
  lefthook.yml
Due: none

feat(testimonials): add testimonials component
  src/components/testimonials/index.jsx
  src/components/testimonials/styles.module.scss
  src/data/section_headings.json
  src/pages/index.jsx
Due: css, js

refactor(heading): remove extra markup
  src/components/about/index.jsx
  src/components/blog/index.jsx
  src/components/heading/index.jsx
  src/components/hero/index.jsx
  src/components/hero/styles.module.scss
  src/components/software/index.jsx
  src/components/software/styles.module.scss
  src/components/testimonials/index.jsx
Due: css, js

refactor(carousel): parentClass isn't required now
  src/components/carousel/index.jsx
  src/components/carousel/styles.module.scss
Due: css, js

improvement(testimonials): add caption and styles
  src/components/testimonials/index.jsx
  src/components/testimonials/styles.module.scss
Due: css, js

feat(quote): add quote component
  src/components/quote/index.jsx
  src/components/quote/styles.module.scss
  src/components/testimonials/index.jsx
  src/data/testimonials.json
  src/images/testimonials/quote_1.png
  src/images/testimonials/quote_1@2x.png
  src/images/testimonials/quote_1@3x.png
  src/images/testimonials/quote_2.png
  src/images/testimonials/quote_2@2x.png
  src/images/testimonials/quote_2@3x.png
  src/images/testimonials/quote_3.png
  src/images/testimonials/quote_3@2x.png
  src/images/testimonials/quote_3@3x.png
  src/images/testimonials/quote_4.png
  src/images/testimonials/quote_4@2x.png
  src/images/testimonials/quote_4@3x.png
  src/images/testimonials/quote_5.png
  src/images/testimonials/quote_5@2x.png
  src/images/testimonials/quote_5@3x.png
  src/images/testimonials/quote_6.png
  src/images/testimonials/quote_6@2x.png
  src/images/testimonials/quote_6@3x.png
  src/images/testimonials/quote_7.png
  src/images/testimonials/quote_7@2x.png
  src/images/testimonials/quote_7@3x.png
  src/images/testimonials/quote_8.png
  src/images/testimonials/quote_8@2x.png
  src/images/testimonials/quote_8@3x.png
Due: css, js

improvement(carousel): add nav parameter
  src/components/carousel/index.jsx
Due: js

build(packages): update the packages to match node 12
  package-lock.json
  package.json
Due: none

chore(stylelint): update config
  .stylelintrc.js
Due: js

fix(testimonials): remove grid property on the mobile viewport due to the bug in swiper
  src/components/testimonials/index.jsx
  src/components/testimonials/styles.module.scss
Due: css, js

refactor(testimonials): reduce the number of quotes
  src/data/testimonials.json
  src/images/testimonials/quote_6.png
  src/images/testimonials/quote_6@2x.png
  src/images/testimonials/quote_6@3x.png
  src/images/testimonials/quote_7.png
  src/images/testimonials/quote_7@2x.png
  src/images/testimonials/quote_7@3x.png
  src/images/testimonials/quote_8.png
  src/images/testimonials/quote_8@2x.png
  src/images/testimonials/quote_8@3x.png
Due: none

refactor(theme): reduce focus ring size
  src/styles/theme.scss
Due: css

feat(mixins): add truncate-oneline-text
  src/styles/mixins.scss
Due: css

Path conditions:
  css: any of: *.{css,scss}
  js: any of: *.{js,jsx}
