Repository in-in/helium: changes, and which lefthook commands are due for each by the changed paths.
All: css, js

css:
  run: prettier --write {staged_files} && stylelint --fix {staged_files} && git add {staged_files}

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files} && git add {staged_files}

build(eslint): add exception
  .eslintrc.json
Due: none

style(stylelint): update config rule set & reformat the corresponding files
  .stylelintrc.js
  package-lock.json
  package.json
  src/components/button-group/styles.module.scss
  src/components/button/styles.module.scss
  src/components/customers/styles.module.scss
  src/components/device/styles.module.scss
  src/components/header/styles.module.scss
  src/components/heading/styles.module.scss
  src/components/hero/styles.module.scss
  src/components/social/styles.module.scss
  src/components/text/styles.module.scss
  src/styles/mixins.scss
Due: css, js

refactor(mixins): add min-height argument
  src/styles/mixins.scss
Due: css

refactor(features): add divider for items
  src/components/features/styles.module.scss
Due: css

refactor(cleanup): a little cleanup
  src/components/customers/styles.module.scss
  src/styles/reset.scss
Due: css

refactor(device): replace ugly blurry images with nice wireframe svg
  src/data/device.json
  src/images/device/device_laptop.svg
  src/images/device/device_phone.svg
  src/images/device/device_tablet.svg
  src/images/device/laptop_s.jpg
  src/images/device/laptop_s_@2x.jpg
  src/images/device/laptop_s_@3x.jpg
  src/images/device/laptop_xs.jpg
  src/images/device/laptop_xs_@2x.jpg
  src/images/device/laptop_xs_@3x.jpg
  src/images/device/phone_s.jpg
  src/images/device/phone_s_@2x.jpg
  src/images/device/phone_s_@3x.jpg
  src/images/device/tablet_l.jpg
  src/images/device/tablet_l_@2x.jpg
  src/images/device/tablet_l_@3x.jpg
  src/queries/device.js
Due: js

feat(about): add button group
  src/components/about/index.jsx
  src/components/about/styles.module.scss
  src/components/features/styles.module.scss
Due: css, js

chore(stylelint): add new rule
  .stylelintrc.js
Due: js

chore(dotfiles): update dotfiles
  .editorconfig
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .stylelintrc.js
Due: js

build(packages): update packages
  package-lock.json
  package.json
Due: none

refactor(icon): hide decorative icons from screen reader
  src/components/hero/index.jsx
  src/components/icon/index.jsx
Due: js

chore(eslint): add parser and plugin
  .eslintrc.js
  package-lock.json
  package.json
Due: js

refactor(mixins): add cloud mixin
  src/components/hero/styles.module.scss
  src/styles/mixins.scss
Due: css

feat(about): add clouds
  src/components/about/index.jsx
  src/components/about/styles.module.scss
  src/styles/mixins.scss
Due: css, js

fix(about): delete empty divs, remove clouds for mobile viewport
  src/components/about/index.jsx
  src/components/about/styles.module.scss
Due: css, js

refactor(stylelintrc): add new properties to order list
  .stylelintrc.js
Due: js

fix(headings): remove built-in weight, add correct heading levels
  src/components/features/index.jsx
  src/components/features/styles.module.scss
  src/styles/reset.scss
Due: css, js

refactor(npm scripts): remove extra develop task
  package.json
Due: none

refactor(stylelint): add small a11y rule
  .stylelintrc.js
Due: js

feat(button): add styles for :active state, turn off hover on mobiles
  src/components/button/styles.module.scss
  src/styles/mixins.scss
Due: css

refactor(sass helpers): add a default value
  src/styles/functions.scss
Due: css

feat(stats): add stats component
  src/components/stats/index.jsx
  src/components/stats/styles.module.scss
  src/data/stats.json
  src/images/icons/chart-line.svg
  src/images/icons/users.svg
  src/pages/index.jsx
Due: css, js

fix(stats): enlarge the icon size
  src/components/stats/styles.module.scss
Due: css

feat(blog): add blog component
  src/components/blog/index.jsx
  src/components/blog/styles.module.scss
  src/data/section_headings.json
  src/pages/index.jsx
Due: css, js

feat(carousel): add carousel component
  package-lock.json
  package.json
  src/components/blog/index.jsx
  src/components/blog/styles.module.scss
  src/components/carousel/index.jsx
  src/components/carousel/styles.module.scss
  src/images/icons/long-arrow-l.svg
  src/images/icons/long-arrow-r.svg
Due: css, js

build(packages): update packages
  .npmrc
  package-lock.json
  package.json
Due: none

build(plop): check the hyphen in the component name
  plop-templates/component.jsx.hbs
  plopfile.js
Due: js

refactor(carousel): add dynamic children property
  src/components/carousel/index.jsx
Due: js

refactor(stylelint): remove obsolete property
  .stylelintrc.js
  src/components/software/styles.module.scss
Due: css, js

chore(helpers): add aspect-ratio function
  src/styles/functions.scss
Due: css

feat(article-preview): add article-preview component
  src/components/article-preview/index.jsx
  src/components/article-preview/styles.module.scss
  src/components/blog/index.jsx
  src/data/articles.json
  src/images/article-preview/ap_1_main.jpg
  src/images/article-preview/ap_1_main@2x.jpg
  src/images/article-preview/ap_1_main@3x.jpg
  src/images/article-preview/ap_1_thumb1.jpg
  src/images/article-preview/ap_1_thumb1@2x.jpg
  src/images/article-preview/ap_1_thumb1@3x.jpg
  src/images/article-preview/ap_1_thumb2.jpg
  src/images/article-preview/ap_1_thumb2@2x.jpg
  src/images/article-preview/ap_1_thumb2@3x.jpg
  src/images/article-preview/ap_2_main.jpg
  src/images/article-preview/ap_2_main@2x.jpg
  src/images/article-preview/ap_2_main@3x.jpg
  src/images/article-preview/ap_2_thumb1.jpg
  src/images/article-preview/ap_2_thumb1@2x.jpg
  src/images/article-preview/ap_2_thumb1@3x.jpg
  src/images/article-preview/ap_2_thumb2.jpg
  src/images/article-preview/ap_2_thumb2@2x.jpg
  src/images/article-preview/ap_2_thumb2@3x.jpg
  src/images/article-preview/ap_3_main.jpg
  src/images/article-preview/ap_3_main@2x.jpg
  src/images/article-preview/ap_3_main@3x.jpg
  src/images/article-preview/ap_3_thumb1.jpg
  src/images/article-preview/ap_3_thumb1@2x.jpg
  src/images/article-preview/ap_3_thumb1@3x.jpg
  src/images/article-preview/ap_3_thumb2.jpg
  src/images/article-preview/ap_3_thumb2@2x.jpg
  src/images/article-preview/ap_3_thumb2@3x.jpg
Due: css, js

refactor(helpers): update css reset
  src/styles/reset.scss
Due: css

refactor(carousel): add parent wrapper
  src/components/blog/index.jsx
  src/components/blog/styles.module.scss
  src/components/carousel/index.jsx
Due: css, js

feat(carousel): enable lazy loading
  src/components/carousel/index.jsx
Due: js

refactor(carousel): get rid of the shadow in the mobile viewport
  src/components/carousel/styles.module.scss
Due: css

refactor(about): remove decorative elements from the mobile
  src/components/about/styles.module.scss
Due: css

build(packages): update packages, add dart-sass
  package-lock.json
  package.json
Due: none

Path conditions:
  css: any of: *.{css,scss}
  js: any of: *.{js,jsx}
