Repository in-in/helium: changes, and which lefthook commands are due for each by the changed paths.
All: css, js

css:
  run: stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

js:
  run: eslint --fix {staged_files} && git add {staged_files}

refactor(footer): add appropriate tag
  src/components/footer/index.jsx
Due: js

refactor(theme): update user selection
  src/components/button/styles.module.scss
  src/styles/theme.scss
Due: css

fix(focus): remove overflow: hidden to prevent truncating of buttons shadow
  src/components/container/styles.module.scss
Due: css

chore(stylelint): update config
  .stylelintrc.js
Due: js

refactor(reset): update base styles
  src/styles/reset.scss
Due: css

chore(stylelint): add new font settings to the config
  .stylelintrc.js
Due: js

refactor(fonts): add preload option for regular fonts
  src/components/layout/index.jsx
  src/styles/fonts.scss
Due: css, js

refactor(accordion): add correct class name
  src/components/accordion/index.jsx
  src/components/accordion/styles.module.scss
Due: css, js

refactor(print): add separate styles for printing
  src/components/layout/index.jsx
  src/styles/print.scss
Due: css, js

chore(stylelint): update properties order
  .stylelintrc.js
  src/styles/reset.scss
Due: css, js

refactor(meta): add noscript and update site meta
  gatsby-config.js
  src/components/layout/index.jsx
Due: js

refactor(a11y): improve contrast ratio for text
  src/components/accordion/styles.module.scss
  src/components/button/styles.module.scss
  src/components/text/styles.module.scss
  src/styles/vars.scss
Due: css

build(packages): update packages
  package-lock.json
  package.json
Due: none

refactor(device): delete unnecessary picture element
  src/components/device/index.jsx
  src/components/device/styles.module.scss
  src/images/device/device_laptop.svg
  src/images/device/device_phone.svg
  src/images/device/device_tablet.svg
  src/images/icons/device/device_laptop.svg
  src/images/icons/device/device_phone.svg
  src/images/icons/device/device_tablet.svg
Due: css, js

refactor(device): clear svg markup
  src/images/icons/device/device_phone.svg
  src/images/icons/device/device_tablet.svg
Due: none

docs(readme): add a nice description for readme
  README.md
Due: none

Create LICENSE
  LICENSE
Due: none

refactor(readme): delete license section
  README.md
Due: none

docs(readme): add menu
  README.md
Due: none

docs(readme): fix link paths in menu
  README.md
Due: none

docs(readme): add link to design
  README.md
Due: none

build(now): update zeit settings
  now.json
  package.json
Due: none

docs(readme): add link to the logo
  README.md
Due: none

refactor(pages): delete 404 page
  src/pages/404.jsx
Due: js

fix(icon): add explicit height declaration for svg icons
  src/components/about/index.jsx
  src/components/accordion/index.jsx
  src/components/button/index.jsx
  src/components/carousel/index.jsx
  src/components/chart/index.jsx
  src/components/chart/styles.module.scss
  src/components/customers/index.jsx
  src/components/device/index.jsx
  src/components/features/index.jsx
  src/components/hero/index.jsx
  src/components/icon/index.jsx
  src/components/icon/styles.module.scss
  src/components/logo/index.jsx
  src/components/pricing/index.jsx
  src/components/social/index.jsx
  src/components/stats/index.jsx
Due: css, js

fix(device): add unique "key" prop 🤷
  src/components/device/index.jsx
Due: js

fix(chart): add workaround for firefox svg bug
  src/components/chart/styles.module.scss
Due: css

chore(stylelint): add workaround for special comments and autofixing problem
  .stylelintrc.js
Due: js

fix(icon): hide icon by default
  src/components/about/index.jsx
  src/components/accordion/index.jsx
  src/components/carousel/index.jsx
  src/components/chart/index.jsx
  src/components/hero/index.jsx
  src/components/icon/index.jsx
  src/components/pricing/index.jsx
Due: js

chore(npm scripts): update gatsby scripts
  package.json
Due: none

fix(accordion): remove unsupported property
  src/components/accordion/styles.module.scss
Due: css

fix(chart): hide chart in edge
  src/components/chart/styles.module.scss
Due: css

fix(accordion): align heading
  src/components/accordion/styles.module.scss
Due: css

fix(features): add workaround for the cropped icons in safari
  src/components/features/styles.module.scss
Due: css

fix(styles/mixins): fix frozen button animation for the active state is safari
  src/styles/mixins.scss
Due: css

fix(article-preview): increase line-height to prevent title cropping
  src/components/article-preview/styles.module.scss
Due: css

fix(accordion): add focus state when a button clicked in safari
  src/components/accordion/index.jsx
Due: js

Path conditions:
  css: any of: *.{css,scss}
  js: any of: *.{js,jsx}
