Repository in-in/helium: changes, and which lefthook commands are due for each by the changed paths.
All: css, js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    css:
      glob: "*.{css,scss}"
      run: stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}
    js:
      glob: "*.{js,jsx}"
      run: eslint --fix {staged_files} && git add {staged_files}

refactor(footer): make text lighter
  src/components/footer/styles.module.scss
Due: css

fix(icon): keep proportions for icons
  src/components/customers/styles.module.scss
  src/components/logo/styles.module.scss
  src/components/social/styles.module.scss
Due: css

chore(browserslist): update browserslist query and target browsers screenshot
  README.md
  package.json
Due: none

chore(browserslist): remove uc browser support
  README.md
  package.json
Due: none

build(packages): update packages
  package.json
Due: none

feat(newsletter): add form2chat settings
  src/components/newsletter/index.jsx
Due: js

fix(button): delete hardcoded type and onclick attributes
  src/components/button/index.jsx
  src/components/newsletter/index.jsx
Due: js

chore(gatsby): update gatsby-config
  gatsby-config.js
  package-lock.json
Due: js

fix(picture): add the correct order for the image sources
  src/components/picture/index.jsx
Due: js

refactor(gatsby config): update site metadata
  gatsby-config.js
Due: js

refactor(logo): add link text to improve a11y
  src/components/logo/index.jsx
Due: js

chore(eslint): update config
  .eslintrc.js
Due: js

refactor(site metadata): update siteMetadata and add social networks summary
  gatsby-config.js
  src/components/layout/index.jsx
Due: js

fix(layout): add correct image path
  src/components/layout/index.jsx
Due: js

chore(pa11y): add correct placeholder links to pass the Pa11y test
  src/components/button/index.jsx
  src/data/faq.json
Due: js

fix(accordion): move the role="region" attribute to the appropriate position
  src/components/accordion/index.jsx
Due: js

fix(a11y): add aria-label to empty links
  src/components/customers/index.jsx
  src/components/social/index.jsx
Due: js

ci(lighthouse): add Lighthouse CI Action
  .github/workflows/main.yml
Due: none

refactor(layout): update document meta
  src/components/layout/index.jsx
Due: js

fix(customers): move to correct breakpoint
  src/components/customers/styles.module.scss
Due: css

fix(validator): update value for href attribute
  src/components/button/index.jsx
  src/data/faq.json
Due: js

fix(now): enable some headers
  now.json
Due: none

docs(readme): update information
  README.md
Due: none

fix(newsletter): add required attribute
  src/components/newsletter/index.jsx
Due: js

refactor(accordion): improve greedy animation (in a way)
  src/components/accordion/styles.module.scss
Due: css

build(packages): update packages
  package-lock.json
  package.json
Due: none

chore(now): enable brotli
  now.json
Due: none

fix(button): return font color in active state
  src/components/button/styles.module.scss
  src/styles/mixins.scss
Due: css

fix(now): update content-security-policy
  now.json
Due: none
