Repository in-in/helium: changes, and which lefthook commands are due for each by the changed paths.
All: css, js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    css:
      glob: "*.{css,scss}"
      run: stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}
    js:
      glob: "*.{js,jsx}"
      run: prettier --write {staged_files} && eslint --fix {staged_files} && git add {staged_files}

refactor(classname): delete space from the parentClass classname
  src/components/button-group/index.jsx
  src/components/heading/index.jsx
  src/components/text/index.jsx
Due: js

feat(newsletter): add newsletter component
  src/components/newsletter/index.jsx
  src/components/newsletter/styles.module.scss
  src/data/section_headings.json
  src/pages/index.jsx
Due: css, js

refactor(newsletter): add nice adaptive behavior
  src/components/newsletter/index.jsx
  src/components/newsletter/styles.module.scss
Due: css, js

chore(npm): update npmrc and packages
  .npmrc
  package-lock.json
  package.json
Due: none

fix(newsletter): remove extra padding on mobile viewport
  src/components/newsletter/styles.module.scss
Due: css

style(stylelint): update config and related files
  .stylelintrc.js
  src/components/article-preview/styles.module.scss
  src/components/device/styles.module.scss
  src/components/picture/styles.module.scss
  src/components/quote/styles.module.scss
  src/styles/reset.scss
  src/styles/theme.scss
Due: css, js

refactor(button): update props and rename sass variables
  src/components/button/index.jsx
  src/components/button/styles.module.scss
  src/components/faq/index.jsx
  src/components/newsletter/index.jsx
Due: css, js

fix(mixins): add breakpoint for the divider
  src/styles/mixins.scss
Due: css

refactor(border-radius): move border-radius var to the theme file & delete unnecessary declarations
  src/components/article-preview/styles.module.scss
  src/components/button/styles.module.scss
  src/components/newsletter/styles.module.scss
  src/styles/theme.scss
Due: css

feat(footer): add footer
  src/components/footer/index.jsx
  src/components/footer/styles.module.scss
  src/pages/index.jsx
Due: css, js

build(packages): update packages
  package-lock.json
  package.json
Due: none

chore(stylelintrc): revert the value for operator-no-unspaced
  .stylelintrc.js
Due: js

fix(footer): update copyright info
  src/components/footer/index.jsx
Due: js

style(about): add missing commas
  src/components/about/data.scss
Due: css

refactor(vars): move the variable to the appropriate file
  src/styles/theme.scss
  src/styles/vars.scss
Due: css

refactor(chart): delete apexcharts and add a plain svg instead
  gatsby-node.js
  package-lock.json
  package.json
  src/components/hero/index.jsx
  src/components/hero/styles.module.scss
  src/images/icons/chart.svg
Due: css, js

build(stylelint): add correct path to gatsby-plugin-stylelint
  gatsby-config.js
Due: js

chore(stylelint): update config
  .stylelintrc.js
Due: js

feat(chart): add chart component and animate it
  src/components/chart/index.jsx
  src/components/chart/styles.module.scss
  src/components/hero/index.jsx
  src/components/hero/styles.module.scss
  src/images/icons/chart.svg
Due: css, js

chore(stylelint): add new properties to config
  .stylelintrc.js
Due: js

style(chart): update formatting
  src/components/chart/styles.module.scss
Due: css

refactor(data): replace the placeholder text with real one
  src/data/articles.json
  src/data/faq.json
  src/data/features.json
  src/data/section_headings.json
  src/data/testimonials.json
Due: none

refactor(carousel): add correct semantic tags
  src/components/carousel/index.jsx
  src/components/carousel/styles.module.scss
Due: css, js

refactor(button): add preventDefault
  src/components/button/index.jsx
Due: js

refactor(text): add title attribute
  src/components/features/index.jsx
  src/components/text/index.jsx
Due: js

refactor(social): update query and add title attr
  src/components/social/index.jsx
  src/data/social_items.json
Due: js

refactor(customers): update GraphQL query
  src/components/customers/index.jsx
  src/data/customers.json
Due: js

fix(article-preview): truncate title
  src/components/article-preview/index.jsx
  src/components/article-preview/styles.module.scss
Due: css, js

refactor(carousel): reduce margin for pagination block
  src/components/carousel/styles.module.scss
Due: css

refactor(container): prevent content overflow
  src/components/container/styles.module.scss
Due: css

refactor(heading): delete unnecessary iterations
  src/components/about/index.jsx
  src/components/blog/index.jsx
  src/components/help/index.jsx
  src/components/hero/index.jsx
  src/components/newsletter/index.jsx
  src/components/pricing/index.jsx
  src/components/software/index.jsx
  src/components/testimonials/index.jsx
Due: js

refactor(picture): add error handling for missing images
  src/components/picture/index.jsx
Due: js

fix(images): add real alternative text
  src/data/articles.json
  src/data/testimonials.json
Due: none

chore(stylelint): add new properties to the config file
  .stylelintrc.js
Due: js

refactor(layout): update head section information
  src/components/layout/index.jsx
Due: js

fix(heading): add whitespace
  src/components/heading/index.jsx
Due: js
