Repository in-in/helium: changes, and which lefthook commands are due for each by the changed paths.
All: css, js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    css:
      glob: "*.{css,scss}"
      run: prettier --write {staged_files} && stylelint --fix {staged_files} && git add {staged_files}
    js:
      glob: "*.{js,jsx}"
      run: prettier --write {staged_files} && eslint --fix {staged_files} && git add {staged_files}

feat(qoute): add users data
  src/components/quote/index.jsx
  src/components/quote/styles.module.scss
  src/components/testimonials/index.jsx
  src/data/testimonials.json
Due: css, js

refactor(mixins): rename mixins
  src/components/article-preview/styles.module.scss
  src/components/features/styles.module.scss
  src/components/quote/styles.module.scss
  src/styles/fonts.scss
  src/styles/mixins.scss
Due: css

refactor(text): add default tag name
  src/components/text/index.jsx
Due: js

refactor(quote): change tag name
  src/components/quote/index.jsx
Due: js

fix(carousel): add correct padding
  src/components/blog/index.jsx
  src/components/blog/styles.module.scss
  src/components/carousel/styles.module.scss
Due: css, js

improvement(testimonials): add background gradient
  src/components/testimonials/styles.module.scss
Due: css

refactor(quote): add truncate mixin
  src/components/quote/styles.module.scss
Due: css

refactor(mixins): update default line-height value
  src/components/article-preview/styles.module.scss
  src/components/features/styles.module.scss
  src/components/quote/styles.module.scss
  src/styles/mixins.scss
Due: css

refactor(quote): add responsiveness for wide viewport
  src/components/quote/styles.module.scss
Due: css

fix(swiper): replace grid with flex
  src/components/testimonials/styles.module.scss
Due: css

build(packages): update packages, delete stylelint-config-standard and plugin
  package-lock.json
  package.json
Due: none

style(prettier): disable prettier for scss files
  .prettierignore
Due: none

style(stylelint): remove the extension option and add all rules to the config
  .stylelintrc.js
Due: js

style(stylelint): update formatting
  src/components/about/data.scss
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/button/styles.module.scss
  src/components/customers/styles.module.scss
  src/components/device/styles.module.scss
  src/components/features/styles.module.scss
  src/components/header/styles.module.scss
  src/components/hero/data.scss
  src/components/hero/styles.module.scss
  src/components/quote/styles.module.scss
  src/components/software/styles.module.scss
  src/styles/config.scss
  src/styles/fonts.scss
  src/styles/functions.scss
  src/styles/index.scss
  src/styles/mixins.scss
  src/styles/reset.scss
  src/styles/theme.scss
  src/styles/vars.scss
Due: css

build(stylelint): update config, add gatsby-plugin-stylelint
  .stylelintrc.js
  gatsby-config.js
  package-lock.json
  package.json
Due: js

feat(help): add help component
  src/components/help/index.jsx
  src/components/help/styles.module.scss
  src/data/section_headings.json
  src/pages/index.jsx
Due: css, js

build(stylelint): change severity level for color-named
  .stylelintrc.js
Due: js

chore(stylelint): update config
  .stylelintrc.js
Due: js

feat(accordion): add accordion component
  src/components/accordion/index.jsx
  src/components/accordion/styles.module.scss
  src/components/icon/index.jsx
  src/images/icons/chevron.svg
Due: css, js

fix(accordion): remove ugly focus ring
  src/components/accordion/styles.module.scss
Due: css

improvement(accordion): add breakpoints
  src/components/accordion/styles.module.scss
Due: css

feat(faq): add faq component
  src/components/faq/index.jsx
  src/components/faq/styles.module.scss
  src/data/faq.json
Due: css, js

refactor(help): add child components
  src/components/help/index.jsx
  src/components/help/styles.module.scss
Due: css, js

style(stylelint): update config and related files
  .stylelintrc.js
  src/components/device/styles.module.scss
  src/styles/mixins.scss
Due: css, js

chore(eslint): turn off annoying rule
  .eslintrc.js
  src/components/carousel/index.jsx
Due: js

refactor(button): add the appropriate tag for the component
  src/components/about/index.jsx
  src/components/article-preview/index.jsx
  src/components/button/index.jsx
  src/components/faq/index.jsx
  src/components/header/index.jsx
  src/components/software/index.jsx
Due: js

improvement(accordion): update font settings
  src/components/accordion/styles.module.scss
Due: css

ci(lefthook): treat warnings as errors for stylelint
  lefthook.yml
Due: none

chore(stylelint): add scroll-* properties and update order
  .stylelintrc.js
Due: js

refactor(customers): improve scroll behavior
  src/components/customers/styles.module.scss
Due: css

refactor(styles): add shorthand for padding properties
  src/components/about/styles.module.scss
  src/components/blog/styles.module.scss
  src/components/button/styles.module.scss
  src/components/container/styles.module.scss
  src/components/features/styles.module.scss
  src/components/header/styles.module.scss
  src/components/help/styles.module.scss
  src/components/software/styles.module.scss
  src/components/testimonials/styles.module.scss
Due: css

refactor(heading): add modifier
  src/components/heading/index.jsx
  src/components/heading/styles.module.scss
  src/data/section_headings.json
  src/queries/section_headings.js
Due: css, js

refactor(text): add modifier and replace parentClass prop
  src/components/about/index.jsx
  src/components/article-preview/index.jsx
  src/components/faq/index.jsx
  src/components/features/index.jsx
  src/components/quote/index.jsx
  src/components/text/index.jsx
  src/components/text/styles.module.scss
Due: css, js

fix(text): delete needless composes
  src/components/about/styles.module.scss
  src/components/article-preview/styles.module.scss
  src/components/faq/styles.module.scss
  src/components/features/styles.module.scss
  src/components/quote/styles.module.scss
  src/components/text/index.jsx
Due: css, js

refactor(button-group): add parentClass prop
  src/components/button-group/index.jsx
Due: js

refactor(mixins): remove unnecessary interpolation
  src/styles/mixins.scss
Due: css

feat(pricing): add pricing component
  src/components/pricing/data.scss
  src/components/pricing/index.jsx
  src/components/pricing/styles.module.scss
  src/pages/index.jsx
Due: css, js

style(formatting): fix map key order
  src/components/pricing/data.scss
Due: css

chore(stylelint): add new property to list
  .stylelintrc.js
Due: js
